<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">

	<link rel="stylesheet" href="/stylesheets/createEvent.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/profile">Profile</a></li>
		</ul>
	</nav>

    <form action="/event-create" method="POST">
        <div class="create-form-group">
            <label for="eventName">Event Name</label><br>
            <input type="text" name="eventName" required><br>

            <label for="startDate">Start Date</label><br>
            <input type="date" name="startDate" required><br>

            <br>
            <label for="endDate">End Date</label><br>
            <input type="date" name="endDate"><br>

            <br>
            <label for="startTime">Start Time</label><br>
            <input type="text" name="startTime" required><br>

            <label for="endTime">End Time</label><br>
            <input type="text" name="endTime" required><br>

            <label for="location">Location</label><br>
            <input type="text" name="location" required><br>

            <label for="cost">Cost</label><br>
            <input type="number" name="cost" required><br>

            <br>
            <label for="'description">Description</label><br>
            <textarea name="description"></textarea><br>

            <label for="organizer">Host(s) (comma separated)</label><br>
            <input type="text" name="organizer"><br>

            <label for="attendees">Attendees (comma separated)</label><br>
            <input type="text" name="attendees"><br>
        
            <button type="submit">Create</button>
        </div>
    </form>
</body>
</html>