<!DOCTYPE html>
<head>
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<style>
</style>
<div id="container">
	<header>
		<div id="brand">
			<img src="/img/icon.png" alt="Icon"> 
			<h1>SocialSync</h1>
			<br>
		</div>
	</header>
	<div id="user">
		{{#if user}}
		Logged in as {{user.username}}
		{{/if}}
	</div>
	<div id="content">
		{{{ body }}}
	</div>
</div>
</body>
</html>
