<html>
  <head>
    <title>Google Map</title>

    <link rel="stylesheet" href="/stylesheets/map.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAGoxdCNB_F-OXucn6DCVyGXCL89sX570&libraries=places"></script>
  </head>
  <body>
    <div id="map"></div>

    <script type="module" src="./app.js"></script>
  </body>
</html>