<!DOCTYPE html>
<html lang="en">
<head>
    <title>Your Profile</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/profile.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="container">
		<div id="navigation">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
		</div>
        <div id="profile-container">
            <div id="profile-picture">
                <img src="/profile_pictures/estherwng.png" alt="Profile Picture">
            </div>

            <div id="user-info">
                <ul>
                    <li><strong>First Name:</strong> Esther</li>
                    <li><strong>Last Name:</strong> Wang</li>
                    <li><strong>Username:</strong> estherwng</li>
                    <li><strong>Contact:</strong> esther.wang@nyu.edu</li>
                </ul>

                <button id="edit-button">Edit</button>
            </div>
        </div>
    </div>
</body>
</html>