<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">

	<link rel="stylesheet" href="/stylesheets/createEvent.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/profile">Profile</a></li>
		</ul>
	</nav>

    <form action="/edit-event" method="POST">
        <div class="edit-form-group">
            <label for="eventName">Event Name</label><br>
            <input type="text" name="eventName" required><br>

            <label for="attendees">Attendees (comma separated)</label><br>
            <input type="text" name="attendees"><br>
        
            <button type="submit">Add Attendee(s)</button>
        </div>
    </form>
</body>
</html>